@model PagedList.IPagedList<PaginaParroquia.Models.Bautismo>
@using PagedList.Mvc;
@using PaginaParroquia.Models
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bautismos</h2>



@using (Html.BeginForm())
{
    <p>
        Buscar por: @Html.DropDownList("BuscarPor",
new SelectList(Enum.GetValues(typeof(BuscarPorB))),"----Buscar Por----", new { @id = "selectTipo", @class = "form-control"})
        <br> @Html.TextBox("searchString", ViewBag.currentFilter as String, new { @id = "txtBuscar", @class = "form-control" }) <br />
        <input type="submit" value="Buscar" id="btnBuscar" class="btn-primary" /> @*Genera el boton de buscar*@
    </p>

}

    <p>
        @Html.ActionLink("Crear Nuevo Bautismo", "Create")
    </p>



<table class="table">
    <tr>
        <th>
            Persona
        </th>
        <th>
            @Html.ActionLink("Parroquia", "Index", new { sortOrder = ViewBag.parroquiaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Fecha Bautismo", "Index", new { sortOrder = ViewBag.fechaSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Presbítero
        </th>
        <th>
            Párroco
        </th>
        <th>
            Barrio
        </th>
        <th>
            Distrito
        </th>
        <th>
            Canton
        </th>
        <th>
            Provincia
        </th>
        <th>
            Padrinos
        </th>
        <th>
            Declarante
        </th>
        <th>
            Cédula Declarante
        </th>
        <th>
            @Html.ActionLink("Libro", "Index", new { sortOrder = ViewBag.libroSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Folio
        </th>
        <th>
            Asiento
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Cedula) @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parroquia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Bautismo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presbitero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parroco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barrio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Padrinos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Declarante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ced_Declarante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asiento)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.IDBautismo })
                }
                else
                {
                    <h9>Editar</h9>
                }|
                @Html.ActionLink("Detalles", "Details", new { id = item.IDBautismo }) |

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IDBautismo })
                }
                else
                {
                    <h9>Eliminar</h9>
                }

            </td>
        </tr>
    }

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        //Encargado de ocultar el Textbox y el boton si el dropdownlist esta en el parametro predefinido
        $(document).ready(function () {
            $("#txtBuscar").attr('autocomplete', 'off');
            if ($("#selectTipo").val() === "") {
                $("#txtBuscar").hide();
                $("#btnBuscar").hide();
            }
            else if ($("#selectTipo").val() === "Fecha_Bautismo") {

                $("#txtBuscar").show();
                $("#txtBuscar").prop('disables', true);

                $("#txtBuscar").datepicker({
                    dateFormat: "mm/dd/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });


                $("#btnBuscar").show();
            }
            else {
                $("#txtBuscar").show();
                $("#btnBuscar").show();
                $("#txtBuscar").prop('disables', false);
            }


            $("#selectTipo").change(function () {

                $("#txtBuscar").val("");
                $("#btnBuscar").click();

            });

        });
    </script>

}