@model IEnumerable<PaginaParroquia.Models.Confirma>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirma</h2>

<p>
    @Html.ActionLink("Crear Nuevo Registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bautismo.Parroquia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelacionFamiliar.Relacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Padrino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obispo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar_Confirma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Folio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bautismo.Parroquia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelacionFamiliar.Relacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Padrino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Obispo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar_Confirma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Folio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDConfirma }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDConfirma }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDConfirma })
        </td>
    </tr>
}

</table>
