@model PagedList.IPagedList<PaginaParroquia.Models.Confirma>
@using PagedList.Mvc;
@using PaginaParroquia.Models


@{
    ViewBag.Title = "Confirma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirma</h2>

@using (Html.BeginForm())
{
    <p>
        Buscar por: @Html.DropDownList("BuscarPor",
new SelectList(Enum.GetValues(typeof(BuscarPorC))),"----Buscar Por----", new { @id = "selectTipo", @class = "form-control"})
        <br> @Html.TextBox("searchString", ViewBag.currentFilter as String, new { @id = "txtBuscar", @class = "form-control" }) <br />
        <input type="submit" value="Buscar" id="btnBuscar" class="btn-primary" /> @*Genera el boton de buscar*@
    </p>
}



<p>
    @Html.ActionLink("Crear Nuevo Registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Bautismo
        </th>
        <th>
            Persona
        </th>
        <th>
            RelacionFamiliar
        </th>
        <th>
            Padrino
        </th>
        <th>
            Obispo
        </th>
        <th>
            Lugar_Confirma
        </th>
        <th>
            @Html.ActionLink("Fecha", "Index", new { sortOrder = ViewBag.fechaSortParm })
        </th>
        <th>
            @Html.ActionLink("Libro", "Index", new { sortOrder = ViewBag.libroSortParm })
        </th>
        <th>
            Folio
        </th>
        <th>
            Asiento
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bautismo.Parroquia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Cedula) @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelacionFamiliar.Relacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Padrino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obispo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar_Confirma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asiento)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.IDConfirma })
                }
                else
                { <h9>Editar</h9>}|
                @Html.ActionLink("Detalles", "Details", new { id = item.IDConfirma }) |
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IDConfirma })
                }
                else
                { <h9>Eliminar</h9>}
            </td>
        </tr>
    }

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        //Encargado de ocultar el Textbox y el boton si el dropdownlist esta en el parametro predefinido
        $(document).ready(function () {
            $("#txtBuscar").attr('autocomplete', 'off');
            if ($("#selectTipo").val() === "") {
                $("#txtBuscar").hide();
                $("#btnBuscar").hide();
            }
            else if ($("#selectTipo").val() === "Fecha") {

                $("#txtBuscar").show();
                $("#txtBuscar").prop('disables', true);

                $("#txtBuscar").datepicker({
                    dateFormat: "mm/dd/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });


                $("#btnBuscar").show();
            }
            else {
                $("#txtBuscar").show();
                $("#btnBuscar").show();
                $("#txtBuscar").prop('disables', false);
            }


            $("#selectTipo").change(function () {

                $("#txtBuscar").val("");
                $("#btnBuscar").click();

            });

        });
    </script>

}