@model PaginaParroquia.Models.Usuario
@{
    Layout = null;
}

@section script
{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Style/LoginStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="AreaLogin">
        <img src="~/Img/Logo.png" class="imgLogo" />

        <p></p>
        <br></br>
        <h2>Inicio de Sesión</h2>
        @using (Html.BeginForm("Autorizar", "Login", FormMethod.Post))
        {

            //@Html.EditorFor(model => model.Correo)
            //VARIANTE
            @Html.TextBoxFor(model => model.usuario, new { @placeholder = "Ingrese su usuario..." })
            @Html.ValidationMessageFor(model => model.usuario)

            <p></p>
            //@Html.EditorFor(model => model.pwd)
            //VARIANTE


            @Html.PasswordFor(model => model.password, new { @placeholder = "Ingrese su contraseña..." });
            @Html.ValidationMessageFor(model => model.password)

            <p><label>@Html.DisplayFor(model => model.PpMensaje)</label></p>
            <p></p>



            <input type="submit" name="" value="Iniciar Sesión..." />


        }
    </div>
</body>
</html>
